@font-face {
  font-family: 'work';
  font-style: normal;
  font-weight: 300;
  src: url('SF-Pro-Display-Bold.otf');
}


body{
  background-color: #fff;
  padding: 0;
  margin: 0;
}

button {
    background-color: #2047b7;
    color: white;
    font-size: 2.8em;
    padding: 25px 40px;
    margin-top: 25px;
    border-radius: 500px;
    float: right;
}

.screen-contain{
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

.icon {
    width: 40px;
}

.header {
    font-size: 6em;
    color: #2C303A;
    padding-top: 10px;
}

.menu-but{
    font-size: 4em;
    float: right;
    padding-top: 70px;
    color: #2047b7;
}

.owl {
    width: 200px;
    padding-top: 200px;
}

.shadow{
    -webkit-box-shadow: 10px 1px 20px -2px rgba(157,165,170,0.75);
    -moz-box-shadow: 10px 1px 20px -2px rgba(157,165,170,0.75);
    box-shadow: 10px 1px 20px -2px rgba(157,165,170,0.75);
}

.spacer{
    padding-top: 500px;
}