@font-face {
  font-family: 'work';
  font-style: normal;
  font-weight: 300;
  src: url('SF-Pro-Display-Bold.otf');
}


body{
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}


button {
    background-color: #2047b7;
    color: white;
    font-size: 1em;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 500px;
    float: right;
}

.but2 {
    background-color: #2047b7;
    color: white;
    font-size: 1em;
    padding: 10px 15px;
    margin-top: 60px;
    border-radius: 500px;
    float: right;
}

.body-text {
    font-size: 1em;
}

.card {
    border: none;
}

.dropdown {
    width: 100%;
    background-color: white;
    color: #2C303A;
    text-align: left;
    border-radius: 20px;
    font-size: 1em;
    margin-top: 20px;
    border: none;
}

.drop-text {
    padding: 10px 0;
    margin: 0;
}

.screen-contain{
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

.icon {
    width: 40px;
}

.header {
    font-size: 1.8em;
    color: #2C303A;
    padding-top: 10px;
}

.menu-but{
    font-size: 1.5em;
    float: right;
    padding-top: 30px;
    color: #2047b7;
}

.link {
    width: ;
}

.owl {
    width: 60px;
    padding-top: 80px;
}

.shadow{
    -webkit-box-shadow: 10px 1px 20px -2px rgba(157,165,170,0.75);
    -moz-box-shadow: 10px 1px 20px -2px rgba(157,165,170,0.75);
    box-shadow: 10px 1px 20px -2px rgba(157,165,170,0.75);
}

.spacer{
<<<<<<< Updated upstream
    padding-top: 500px;
}

#myDIV{
  width: 60%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #EDEDED;

  font-size: 3em;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-end;

  transition: ease-in-out 0.3s;
}

.navMenu{
  margin-left: 100%;
  color: black;
}

li{
  list-style: none;
  margin-bottom: 2em;
}

.mystyle {
    width: 100%;
    padding: 25px;
    color: white;
    margin-left: 40%;
}

.move{
  margin-right: 60%;
  transition: ease-in-out 0.3s;
}

.navlink{
  color: black;
  width: 100%;
  transition: ease-in-out 0.3s;
}

.navLink:hover{
  color: white;
  text-decoration: none;
}

.navIco{
  margin-right: 0.5em;
  padding-left: 0.5em;
}

.active{
  color: blue !important;
}
=======
    padding-top: 160px;
}
>>>>>>> Stashed changes
